<!-- laypout.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Pok&eacutemon Theme Team</title>
</head>

<body>
    <div class="container ps-1 pe-1 rounded-5 border border-dark border-5 p-4 mt-3 mb-3" id="background">
        <div class="row m-0 bg-light text-center">
            <h2 class="text-black m-0 bg-warning border-top border-bottom border-white pt-3 pb-3">Let's Play Pok&eacutemon!</h2>
        </div>
        {% block instructions %}{% endblock %}
        <div class="row justify-content-center mt-3">
            <div class="col-4 d-flex justify-content-center">
                <form method="POST" action="" id="starter-pokeball" onsubmit="">
                    {% csrf_token %}
                    <button class="btn p-0" id="toggle-button" type="submit" onclick="show_cards()">
                        <img src="{% static 'img/pokeball.png' %}" alt="{% static 'img/pokeball.png' %}">
                    </button>
                </form>
            </div>
        </div>
        <div class="row justify-content-center pt-4" id="cards">
            <div class="col-8">
                <div class="container p-0">
                    {% block cards %}{% endblock %}   
                </div>
            </div>
        </div>
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{% static 'js/main.js'%}"></script>
</body>

</html>
